<div class="container">
  <div class="row">

    <% @users.each do |user| %>
      <div class="col-lg-4 col-md-6 mb-3">
        <div class="card border-light">

          <%= image_tag user.avatar.url(:thumb), class:"rounded mx-auto d-block", style:'height:90;width:120px;' %>

          <div class="card-body">
            <p class="card-title text-primary"><%= user.first_name %></p>
              <div class="m-1 text-muted"><%= user.email %></div>
              <p><small class="card-text mb-auto font-italic"><%= user.fun_fact_one %></small></p>
          </div>

            <% if user.linkedin_url != nil %>
            <div class="card-footer">
              <%= link_to user.linkedin_url do %>
                <%= fa_icon "linkedin", style: 'color:blue' %>
              <% end %>
              </div>
            <% end %>

          <div class="card-footer">
            <p>Je peux vous aider avec</p>
            <% if user.dev == "mentor" %>
            <span class="badge badge-success"> <i class="fa fa-code"></i> dev </span>
            <% end %>
            <% if user.growth == "mentor" %>
            <span class="badge badge-success"> <%= fa_icon "chart-line" %> growth </span>
            <% end %>
            <% if user.product == "mentor" %>

            <span class="badge badge-success"><i class="fas fa-lightbulb"></i> product </span>
            <% end %>
            <% if user.sales == "mentor" %>
            <span class="badge badge-success"> <%= fa_icon "bullseye" %> sales </span>
            <% end %>
          </div>
          <div class="card-footer">
            <p>J'ai envie d'apprendre</p>
            <% if user.dev == "apprend" %>
            <span class="badge badge-secondary"> <%= fa_icon "code" %> dev </span>
            <% end %>
            <% if user.growth == "mentor" %>
            <span class="badge badge-secondary"> <%= fa_icon "chart-line" %> growth </span>
            <% end %>
            <% if user.product == "mentor" %>
            <span class="badge badge-secondary"> <%= fa_icon "lightbulb" %> product </span>
            <% end %>
            <% if user.sales == "mentor" %>
            <span class="badge badge-secondary"> <%= fa_icon "bullseye" %> sales </span>
            <% end %>
          </div>
        </div>
        </div>

      <% end %>
    </div>
  </div>
